.header {
  height: var(--header-height);
  background-color: var(--color--bg--darker);

  display: flex;
  flex-direction: row;
  justify-content: center;
}
.header p {
  text-align: center;
  font-weight: var(--fontweight--regular);
  letter-spacing: 0.05em;
}


/* MAIN */
.main {
  width: 100%;
}

/* HERO */
.hero {
  width: 100%;

  margin: var(--section--padding) 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hero h1 {
  text-align: center;
  font-weight: var(--fontweight--bold);
  font-size: var(--typosize--title-large);
  margin: .5em auto;
}
.hero h2 {
  text-align: center;
  font-weight: var(--fontweight--bold);
  font-size: var(--typosize--title-medium);
  margin: 2em auto .5em auto;
}
.hero p {
  text-align: center;
  font-weight: var(--fontweight--regular);
  font-size: var(--typosize--title-small);
  margin: 1em auto;
}

/* ACTION */
.actions {
  width: 100%;
  margin: var(--section--padding) 0;
}

.container {
  max-width: var(--content--max-width);
  width: 100%;
  margin: auto;
  padding: 0 var(--content--padding);
}

/* SUCCESS MODAL */
.successModal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  min-height: 100vh;

  background-color: rgba(27, 2, 44, 0.5);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding: var(--content--padding);
}
.successModal__box {
  background-color: var(--color--bg--darker);

  padding: var(--content--padding);
  border-radius: 0.5em;
  border: 2px solid var(--color--01);

  max-width: 800px;
}
.successModal h1 {
  font-size: var(--typosize--title-medium);
  font-weight: var(--fontweight--bold);
  width: 100%;
  text-align: center;
  margin-bottom: 2em;
}
.successModal p {
  text-align: center;
  margin-bottom: 1.5em;
}
.successModal span {
  display: block;
  font-weight: var(--fontweight--bold);
  margin-bottom: .5em;
}

/* BUTTONS + MESSAGES */
.btn {
  padding: 1em 2em;
  border-radius: 0.5em;
  outline: none;
  border: none;

  display: block;
  text-align: center;
  font-weight: var(--fontweight--bold);
  font-size: var(--typosize--title-small);
  margin: .5em auto .5em auto;

  letter-spacing: 0.05em;

  border: 2px solid transparent;

  transition: all 300ms;
}
.btn:hover{
  border: 2px solid var(--color--text--primary);
}
.btn--mint {
  color: var(--color--text--primary);
  background: var(--color--01);
  background: linear-gradient(-45deg, var(--color--01) 0%, var(--color--02) 100%);
  border-color: var(--color--01);
  background-repeat: no-repeat;
}
.btn--connect {

}
.btn--disabled {
  background: var(--color--01);
  pointer-events: none;
  opacity: 0.75;
}
.btn--exit {
  margin-top: 4em;
  font-size: var(--typosize--base);
  padding: .75em 1em;

  color: var(--color--text--primary);
  background: var(--color--01);
  background: linear-gradient(-45deg, var(--color--01) 0%, var(--color--02) 100%);
  border-color: var(--color--01);
  background-repeat: no-repeat;
}

.messagebox {
  display: block;
  margin: auto;
  width: 100%;
  text-align: center;
  padding: 1em 2em;
  border-radius: 0.5em;
  background-color:blue;
}
.messagebox a {
  color: var(--color--03);
}
.messagebox--warn {
  color: rgb(54, 50, 14);
  background-color:rgb(255, 253, 139);
  border: 2px solid rgb(54, 50, 14);
}
.messagebox--success {

}

/* FOOTER */
.footer {
  width: 100%;
  padding: var(--section--padding) 0;
  text-align: center;
}
.footer a {
  color: var(--color--03); /* centralize */
}